.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #fondo{
    width: 1500px;
    height: 500px;
    background-image: url(assets/images/paraiso);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #fondo h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
  }